# Introduction to Python

- General Purpose **"interpreted"** language.
- **Leading whitespace** (spaces and tabs) at the beginning of a logical line is used to compute the indentation level of the line and that **indentation** is used to determine the grouping of statements.
- Data types are **strongly** and **dynamically** typed

## 1. Hello World

In [1]:
print('Hello World')

Hello World

## 2. Variable semantics

Dynamically Typed

In [2]:
x = 1         # x is an integer
x = 'hello'   # now x is a string
x = [1, 2, 3] # now x is a list

## 3. Operators

In [3]:
a = 2; b = 5;
print(b / a)
print(b // a)
print(b % a)
print(b ** a)

2.5
2
1
25

In [4]:
x = 12

In [5]:
(x > 10) and (x % 2 ==0)

True

In [6]:
x in [10, 15, 20]

False

## 3. Built-In Types

**Integers**

In [ ]:
x = 5

**Floats**

In [ ]:
y = 2.4

**String**

In [ ]:
s = "Winter is coming"

**Boolean**

In [27]:
comp = (10 > 8)
comp

True

In [28]:
type(comp)

bool

## 4. Built-in Data Structures

- Lists

In [7]:
x = [1, 2, 3, 4]

In [8]:
x[0]

1

In [9]:
len(x)

4

In [10]:
x[-2]

3

In [11]:
x[-2:]

[3, 4]

In [12]:
x.append(5)
x

[1, 2, 3, 4, 5]

Ex: Use slicing to pick out `2` and `3` from the above list `x`.

In [13]:
# Your Code Here
x[1:3]

[2, 3]

- Tuples

In [15]:
t = (4, 5)

In [16]:
t[0]

4

- Dictionaries

In [17]:
d = {'a': 2, 'b': 3}

In [18]:
d['a']

2

In [19]:
d['c'] = 4

In [20]:
d

{'a': 2, 'b': 3, 'c': 4}

- Sets

In [21]:
s = {1, 2, 3, 3, 4}

In [22]:
s

{1, 2, 3, 4}

## 5. Control-Flow Statements

**if-elif-else**

In [1]:
x = -15

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-15 is negative

**for loop**

In [2]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [3]:
for x in [1, 2, 4]:
    print(x, end=' ')

1 2 4

**while loop**

In [ ]:
i = 0
while i < 5:
    print(i, end= ' ')
    i += 1

## 6. Defining Functions

In [ ]:
def double(num):
    return 2 * num

In [ ]:
double(50)

**Lambda (Anonymous) functions**

In [ ]:
mult = lambda x, y: x * y

In [ ]:
mult(2, 3)

## Exercises

a) Write a function `is_palindrome` to check if a string is a palindrome.

b) Write a function `first_letters` that given a list of names, returns a dictionary with single character, representing first letter of names, as keys and number of names with that first letter as the value.

Eg: ['Labin', 'Sachin', 'Samrat', 'Srijana', 'Dhiraj', 'Bijay', 'Raju'] -> {'L': 1, 'S': 3, 'D':1, 'B': 1, 'R': 1}

In [3]:
x = [1,2,3,4,5]

In [4]:
x[1:3] #slicing

[2, 3]

In [5]:
x[::-1] #reverse

[5, 4, 3, 2, 1]

In [6]:
days = ['sun','mon','tue']

In [8]:
for i,day in enumerate(days):
    print(i,day)

0 sun
1 mon
2 tue

In [11]:
i = 0
while i < 5:
    i += 1
    if i == 2:
        continue
    elif i == 4:
        break
    print(i, end=' ')

1 3

In [17]:
def double_and_half(num):
    return 2 * num, num/2

In [18]:
double_and_half(45)

(90, 22.5)

In [19]:
d = lambda x: x*2

In [20]:
d(50)

100

In [23]:
def is_palindrome (s):
    x = s [::-1]
    if x == s:
        return True
    else:
        return False

In [25]:
is_palindrome("cat")

False

In [1]:
names = ['Labin', 'Sachin', 'Samrat', 'Srijana', 'Dhiraj', 'Bijay', 'Raju']
def first_letters(names):
    char_dict ={}
    for name in names:
        first_letter = name[0]
        char_dict.setdefault(first_letter,0)
        char_dict[first_letter] = char_dict[first_letter] + 1
    return char_dict

In [56]:
first_letters(names)

{'B': 1, 'D': 1, 'L': 1, 'R': 1, 'S': 3}

In [3]:
names = ['Labin', 'Sachin', 'Samrat', 'Srijana', 'Dhiraj', 'Bijay', 'Raju']
def first_letters(names):
    char_dict ={}
    for name in names:
        first_letter = name[0]
        if not first_letter in char_dict.keys():
            char_dict[first_letter] = 0
        char_dict[first_letter] = char_dict[first_letter] + 1
    return char_dict

In [5]:
first_letters(names)

{'B': 1, 'D': 1, 'L': 1, 'R': 1, 'S': 3}

In [8]:
import csv

char_dict = {}
with open('genders.csv') as genders:
    rows = csv.DictReader(genders)
    for row in rows:
        first_char  = row['name'][0]
        gender      = row['gender']
        count       = int(row['count'])
        if first_char not in char_dict:
            char_dict[first_char] = {}
        if gender not in char_dict[first_char]:
            char_dict[first_char][gender] = 0
        char_dict[first_char][gender] += count

In [9]:
print(char_dict['a'])
print(char_dict['t'])
print(char_dict['a']['male'])
print(char_dict['j']['female'])
print(char_dict['r']['male'])

{'female': 1210, 'male': 4945}
{'male': 413, 'female': 88}
4945
202
3538